body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-image: url("img/background1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: absolute;
    font-family: 'Montserrat', sans-serif;
}
.poruka{
    justify-content: center;
    align-items: center;
    width: 700px;
    margin-top: 200px;
    margin-left: 440px;
    height: 300px;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.7);
    padding: 0px 20px;
}
.poruka p{
    font-size: 30px;
    text-align: center;
    color: #1f2e2e;
}

#sifra{
    font-size: 60px;
}
#tekst{
    padding-top: 40px;
}